.panel.panel-default
  .panel-heading
    %h2= @article.title
  .panel-body
    .well= simple_format @article.text
    %h3.text-right= @article.author
    = link_to edit_article_path(@article), class: 'btn btn-default' do
      %span.glyphicon.glyphicon-pencil
      Edit
    = link_to articles_path, class: 'btn btn-info' do
      %span.glyphicon.glyphicon-chevron-left
      Back
.panel.panel-default
  .panel-heading
    %h3 Comments
  .panel-body
    %h4 Add a comment:
    = render 'comments/form'
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Commenter
        %th Comment
        %th.text-right Actions
    %tbody
      = render @article.comments
