!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title Blog
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                             "data-target" => "#bs-example-navbar-collapse-1",
                                             "data-toggle" => "collapse",
                                             type: "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              = image_tag image_path("download.png")

          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a{ href: "http://localhost:3000/articles" } My Blog
              %li
                %a{ href: "http://localhost:3000/izraeli_ids/new" } Israeli ID
              %li.dropdown
                %a.dropdown-toggle{ "aria-expanded" => "false",
                                    "aria-haspopup" => "true",
                                    "data-toggle" => "dropdown",
                                    href: "#",
                                    role: "button" }
                  Dropdown
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{ href: "#" } Link 1
                  %li
                    %a{ href: "#" } Link 2
                  %li
                    %a{ href: "#" } Link 3
                  %li.divider{ role: "separator" }
                  %li
                    %a{ href: "#" } Link 4
                  %li.divider{ role: "separator" }
                  %li
                    %a{ href: "#" } Link 5
            -# %form.navbar-form.navbar-cent{ role: "search" }
            -#   .form-group
            -#     %input.form-control{ placeholder: "Search", type: "text" }/
            -#   %button.btn.btn-default{ type: "submit" } Submit
      %section
        -# .row
        -#   .col-sm-8.col-sm-offset-2
        = yield
