!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title Blog
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                             "data-target" => "#bs-example-navbar-collapse-1",
                                             "data-toggle" => "collapse",
                                             type: "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              = image_tag image_path("download.png")

          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li= link_to 'My Blog', articles_path
              %li= link_to 'Users', users_path
              %li= link_to 'Israeli ID', izraeli_ids_new_path
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li= link_to 'My profile', current_user
                %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
              - else
                %li= link_to 'Sign in', new_user_session_path
                %li= link_to 'Sign up', new_user_registration_path
      %section
        %p.notice= notice
        %p.alert= alert

        = yield
